@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    /* Colors picked from coolors.io */
    --red: #bf1a2f;
    --violet: #f00699;
    --blue: #454e9e;
    --green: #018e42;
    --light-green:#69c898;
    --yellow: #f7d002;
    --grey:  #333333;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--grey);

}

button {
    margin-right: 10px;
    background-color: var(--yellow);
    border-radius: 20px;
}

.start-button {
    border:none;

}

.application {
    width: 80%;
    margin: 0 auto;
}

.tuple-mode-row {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.tuple-header {
    margin:0;
    text-align: center;
}

.tuple-start-box {
    z-index: 2;
    width: 100%;
    border: 1px solid var(--blue);
    background-color: var(--light-green);
    border-radius: 1em;
}

.tuple-row {
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
}

.tuple-block {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    width: 60px;
    height: 60px;
    margin: 1px;
    border: 3px solid black;
}

.tuple-grid-container {
    margin:1em;
    display: flex;
    justify-content: center;
}

.word-range {
    background-color: #cccccc;
    padding: 5px;
    border-radius: 20px;
}